* {

    box-sizing: border-box;

}

.carousel-container{
    width: 70%;
    margin: auto;
}

.flex{

display: flex;

}

.center{

    display: flex;
    justify-content: center;
}

.lista-produto{

margin-bottom: 10px;

}

.titulo{

margin-top: 30px;

}
